body {
    background-image: url(./image/body_background_image.png);
    background-repeat: repeat;
}

#myDiv {
    text-align: center;
}

table {
    width: 1050px;
    height: 600px;
    margin: 10px;
}

#myCanvas {
    margin: 10px;
    background-color: white;
    cursor: url("./cursor/cursor_1.cur"), default;
}

.button {
    margin: 10px;
    width: 150px;
    height: 100px;
    background-image: url(./image/button_background_image.png);
}

.button-inner {
    width: 80px;
    height: 80px;
    margin: 10px;
}

#ink-btn, #text-btn, #cursor-btn {
    margin: 10px;
    width: 150px;
    height: 100px;
    background-image: url(./image/button_background_image.png);
    color: black;
    text-align: center;
    vertical-align: middle;
}

#cursor-btn-inner {
    line-height: 30px;
}

#pencil-color, #eraser-color {
    width: 30px;
    height: 20px;
}

#text-font {
    width: 90px;
}

#image-upload {
    width: 0px;
    height: 0px;
    overflow: hidden;
}
/*
#gradient-btn {
    visibility: hidden;
}
*/